/* Navigation bar */
#highscores {
  cursor: pointer;
}
.navbar-brand {
  font-size: 2rem;
}

.navbar-text {
  font-size: 2rem;
}

/* Main section */
#question {
  margin-top: 10rem;
  color: black;
}
/* Answers div */
#answers {
  color: #999d9f;
  font-weight: 400;
}

/* Individual answer button */
.answer {
  background-color: white;
  border: 1px solid #333b3f;
  border-radius: 0.8rem;
  color: #999d9f;
}

.answer:focus {
  outline: none;
}

#answer-feedback {
  font-size: 1.5rem;
  font-weight: 600;
}

button.hover {
  background-color: #333b3f;
  box-shadow: 0 0.2rem 0.5rem 0 #333b3f;
  color: white;
  cursor: pointer;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.display-off {
  display: none;
}

/* Footer */
.footer {
  padding-top: 2.5rem;
  position: fixed;
  height: 6rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #e9ecef;
  text-align: center;
}

#footer-text {
  font-size: 1rem;
}

#quiz-section,
#welcome-screen {
  padding-bottom: 6rem;
}
