/* Navigation bar */
#highscores {
  cursor: pointer;
}
.navbar-brand {
  font-size: 2rem;
}

.navbar-text {
  font-size: 2rem;
}

/* Main section */
#question {
  margin-top: 10rem;
  color: black;
}
/* Answers div */
#answers {
  color: #999d9f;
  font-weight: 400;
}

/* Individual answer button */
.answer {
  background-color: white;
  border: none;
  color: #999d9f;
}

.answer:focus {
  outline: none;
}

.mouse-over {
  background-color: #333b3f;
  cursor: pointer;
  color: white;
}

.display-off {
  display: none;
}
